<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style >
      #users {
        border: 1px solid black;
        float: right;
        /*height:100px;*/
        width:30%;
      }
      ul li{
        list-style: none;
      }

      li.me {
        color: red;
      }

      li.to {
        color: green;
      }
    </style>
  </head>
  <body>
    <div id="users">
      <ul>
        <li><input type="text"> <button>Set Name</button></li>
      </ul>
    </div>
    <ul id="chats">

    </ul>
    <input type="text" id="chat_input" />
    <button id="send">Send</button>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/helpers.js"></script>
    <script src="/javascripts/users_list.js"></script>
    <script src="/javascripts/chat.js"></script>
    <script>
      var socket = io.connect('http://localhost');
      var chat_wrapper = document.getElementById('chats')
      Chat.start({el: chat_wrapper});

      // Handling User list
      var users_wrapper = document.getElementById('users').getElementsByTagName('ul')[0];
      UserList.start({el: users_wrapper});
    </script>

  </body>
</html>
